.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tabs .tab a{
  color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {

  color:#000;
} /*Text color on hover*/

.tabs .tab a.active {

  color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#000;
} /*Color of underline*/

.tabs .tab a:focus.active {
  color: black
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: white;
  outline: none;
}